.textEditor {
    .quill {
        box-shadow: 0 1px 3px rgba(50,50,93,0.15), 0 1px 0 rgba(0,0,0,0.02);
    }
    .ql-toolbar.ql-snow {
        border: unset !important;
    }
    .ql-container.ql-snow{
        border: unset !important;
    }
    .ql-editor {
        border: unset;
        border-top: 1px solid #dee2e6 !important;
    }
    .quill.warning {
        border: 1px solid red;
    }
}
