.upload-profile-photo{
    border: solid 1px #5e72e4 !important;
    color: #5e72e4;    
    text-align: center;
}

.display-grid,.profile-img {
    display: grid;      
}

.bo-b-grey{
    border-bottom: 1px solid #dee2e6; 
    padding-bottom: 1.5rem !important;
}